.container {
  background: linear-gradient(94.43deg, rgba(249, 249, 249, 0.49) 34.95%, rgba(249, 249, 249, 0.175) 67.01%);
  backdrop-filter: blur(1rem);
  border-radius: 3rem;
  max-width: 94rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  max-height: 310px;
  padding: 1.5rem 1.8rem;
  margin-top: 11rem;
}

.item {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 16px;
  justify-content: space-between;
  width: 210px;
  min-height: 60px;
  flex-grow: 1;
}

.primary-text {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #6D6D6D;
}

.secondary-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  color: #000000;
}

.p-6 {
  padding: 6px 10px;
}

.search-button {
  width: 235px;
  height: 70px;
  background: linear-gradient(90deg, #FF594C 0%, #FAC527 100%);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #FFF;
  cursor: pointer;
}